<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>
<body>
<div class="container">
        <a href="http://localhost:8080"><i class="fa fa-home" title="Home" id="myHomeBtn"></i></a>
        <h1 class=" row justify-content-center">Welcome to the auhtors page</h1>
        <h2 class="row justify-content-center">Cameron M Deans: Assignment# 2</h2>
        <p class="header-p">Author & Book Finder Application</p1>
    <div class="row">
        <div class="card col-6">
            <h4>Authors</h4>
            <p>User Filter Criteria</p>
            <form action="/findLastOrFirst" method="POST">
                <label><b>Find By First Name</b></label>
                <br>
                <input type="text" name="firstName" minlength="2" placeholder="First Name">
                <br>
                <label><b>Find By Last Name</b></label>
                <br>
                <input type="text" name="lastName" minlength="2" placeholder="Last Name">
                <br><br>
                <input type="submit" value="Find">
            </form>
            <br>
            <label><b>Find By Last Name Starting With</b></label>
            <form action="/findByLastNameStartingWith" method="POST">
                <input type="text" name="prefixString" placeholder="Last Name Letter">
                <br><br>
                <input type="submit" value="Find">
            </form>
            <br>
            <label><b>Find By Last Name Containing</b></label>
            <form action="/findByLastNameContaining" method="POST">
                <input type="text" name="infixString" placeholder="IE> Abc -OR- abc">
                <br><br>
                <input type="submit" value="Find">
            </form>
            <br>
            <form action="/authors" method="POST">
                <label><b>Order Author(s) By First Name Descending</b></label>
                <input type="submit" value="Order" formaction="/orderByFirstNameDesc">
                <br><br>
                <label><b>Order Author(s) By Last Name Ascending</b></label>
                <input type="submit" value="Order" formaction="/orderByLastNameAsc">
                <br><br>
            </form>
        </div>
        <div class="card col-6">
            <h4>Authors</h4>
            <p>Table of Contents</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Books</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="author:${authorList}">
                        <td th:text="${author.authorId}"></td>
                        <td th:text="${author.firstName}"></td>
                        <td th:text="${author.lastName}"></td>
                        <td>
                            <!-- Nested table required 
                                 If author has a book assigned to author name and 
                                 if there is anything in the book list
                            -->
                            <table th:if="${author.bookList}" class="table-borderless">
                                <tr th:each="book:${author.bookList}">
                                    <td th:text="${book.bookTitle}"></td>
                                </tr>
                            </table>
                            <!-- Nested table required 
                                 else If author does not have a book assigned to author name and 
                                 else if there is anything in the book list
                            -->
                            <table th:if="${author.bookList.empty}" class="table-borderless">
                                <tr>
                                    <td>No books from this author</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>  
     <!------Questions & Comments------>
     <div class="content-box">
        <div class="container">
          <h1>Questions & Comments</h1>
            <div class="DataPair">
              <div class="row">
                <div class="col-3"></div>
                  <div class="col-md-6 contact-info">
                    <div class="follow">
                      <i class="fa fa-address-card"></i><span>Cameron Deans</span>
                    </div>
                    <div class="follow">
                      <i class="fa fa-map-marker"></i><span>201-187 Amherst Drive Amherstview, ON</span>
                    </div>
                    <div class="follow">
                      <i class="fa fa-phone"></i><span><a href="tel:(613)561-7885" data-type="phone">(613) 561-7885</a></span>
                    </div>
                    <div class="follow">
                      <i class="fa fa-envelope"></i><span><a href="mailto:cameron.deans@student.sl.on.ca" data-type="email">cameron.deans@student.sl.on.ca</a></span>
                    </div>
                    <!------Footer------>
                    <div class="footer">
                      <hr>
                      <p class="copyright">Copyrights | 2021 | Made by Cameron M Deans</i></p>
                    </div>
                  </div>
                  <div class="col-3"></div>
                </div>
              </div>
            </div>
        </div>
        <br>
      </div> 
</div>    
<a href="#"><i class="fa fa-arrow-up" id="myBtn"></i></a> 
</body>
<!------Javascript------>
<script>
    mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; 
      document.documentElement.scrollTop = 0; 
    }
  </script>
</html>       