<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>
<body>
<div class="container">
        <a href="http://localhost:8080"><i class="fa fa-home" title="Home" id="myHomeBtn"></i></a>
        <h1 class=" row justify-content-center">Welcome to the books page</h1>
        <h2 class="row justify-content-center">Cameron M Deans: Assignment# 2</h2>
        <p class="header-p">Author & Book Finder Application</p1>
    <div class="row">
        <div class="card col-6">
            <h4>Books</h4>
            <p>User Filter Criteria</p>
            <form action="/books" method="POST">
                <label><b>Order Book(s) By Title</b></label>
                <input type="submit" value="Order" formaction="/orderByBookTitle">
                <br><br>
                <label><b>Order Book(s) By Price</b></label>
                <input type="submit" value="Order" formaction="/orderByPrice">
                <br><br>
                <label><b>Find Book Title(s) Containing Java & Introduction</b></label>
                <input type="submit" value="Find" formaction="/findByBookTitleContaining">
                <br><br>
                <label><b>Find Book Title(s) Not Containing Java</b></label>
                <input type="submit" value="Find" formaction="/findByBookTitleNotLike">
                <br><br>
                <label><b>Find Book Title(s) Containing Introduction & Omit Book Titles Containing Java</b></label>
                <input type="submit" value="Find" formaction="/findByBookTitleNotLikeAndContaining">
            </form>
        </div> 
        <div class="card col-6">
            <h4>Books</h4>
            <p>Table of Contents</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Price ($)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${bookList}" th:each="book:${bookList}">
                        <td th:text="${book.bookId}"></td>
                        <td th:text="${book.bookTitle}"></td>
                        <td th:text="${book.price}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
     <!------Questions & Comments------>
     <div class="content-box">
        <div class="container">
          <h1>Questions & Comments</h1>
            <div class="DataPair">
              <div class="row">
                <div class="col-3"></div>
                  <div class="col-md-6 contact-info">
                    <div class="follow">
                      <i class="fa fa-address-card"></i><span>Cameron Deans</span>
                    </div>
                    <div class="follow">
                      <i class="fa fa-map-marker"></i><span>201-187 Amherst Drive Amherstview, ON</span>
                    </div>
                    <div class="follow">
                      <i class="fa fa-phone"></i><span><a href="tel:(613)561-7885" data-type="phone">(613) 561-7885</a></span>
                    </div>
                    <div class="follow">
                      <i class="fa fa-envelope"></i><span><a href="mailto:cameron.deans@student.sl.on.ca" data-type="email">cameron.deans@student.sl.on.ca</a></span>
                    </div>
                    <!------Footer------>
                    <div class="footer">
                      <hr>
                      <p class="copyright">Copyrights | 2021 | Made by Cameron M Deans</i></p>
                    </div>
                  </div>
                  <div class="col-3"></div>
                </div>
              </div>
            </div>
        </div>
        <br>
      </div> 
</div>    
<a href="#"><i class="fa fa-arrow-up" id="myBtn"></i></a> 
</body>
<!------Javascript------>
<script>
    mybutton = document.getElementById("myBtn");

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; 
      document.documentElement.scrollTop = 0; 
    }
  </script>
</html>       